<div ng-controller="DetailsCtrl">

        <h1 class="well"><center>Details</center></h1>

    <div class="row">
        <div class="col-md-2">
            <img ng-src="{{details.imageBig}}">
        </div>
        <div class="col-md-10">
            <dl class="dl-horizontal">
              <dt><b>Title:</b></dt>
              <dd><i>{{ details.name }}</i></dd>

              <dt><b>Summary:</b></dt>
              <dd>{{ details.summary }}</dd>

              <dt><b>Artist / Director:</b></dt>
              <dd>{{ details.artist }}</dd>

              <dt><b>Release Date:</b></dt>
              <dd>{{ details.releaseDate }}</dd>

              <dt><b>Genre:</b></dt>
              <dd>{{ details.genre }}</dd>

              <dt><b>Purchase:</b></dt>
              <dd>{{ details.price }} (<a href="" ng-click="followResourceURL(details)">iTunes</a>)</dd>
            </dl>
        </div>
    </div>
    <div class="row"><p></p></div>
    <div class="row">
        <div class="col-md-1">
            <a class="btn btn-primary btn-md" href="/#" ng-click="backToList()"><span class="glyphicon glyphicon-arrow-left"></a>
        </div>
    </div>
</div>